<html>
	</head>
		<title>Keiths Website</title>
		<style>
		
		</style>
	<script>
	</script>	
	</head>
	<body>
	<h1>Welcome to Keith's Website</h1>
	<div class = "loginPage">
		<p>Please Login</p>
		<form method="post" action="/newAcc" class="form">
			<p>Username:<br></p>
			<input type = "text" name = "username" id ="username"><br>
			<p>Password:test<br></p>
			<input type="password" name="password" id="password"><br>
			<p>Secret Code</p><br>
			<input type="password" name="secret" id="secret"><br>
			<input type="submit" value="Create Account" >
			</form>
			

	</div>
	</body>	
</html>
