<html>
<h1> Login Successful</h1>
 form(method='get' action='/')
  input(type='submit' value='Go Back')
 form(method='post' action='/orders')
  input(type='submit' value='View Orders')   
 form(method = 'get' action='/newOrder')
  input(type='submit' value="New Order")
 h Users:
  ul
   each val in test 
    li= val       
  

<html>
