<html>
	</head>
		<title>Keiths Website</title>
		<style>
		include styles/style.css
		</style>
	<script>
	</script>	
	</head>
	<body>
	<h1>Welcome to Keith's Website</h1>
	<div class = "loginPage">
		<p>Please Login</p>
		<form method="post" action="/login" class="form">
			<p>Username:<br></p>
			<input type = "text" name = "username" id ="username"><br>
			<p>Password:<br></p>
			<input type="password"  id="password" name="password"><br>
			<input type="submit" value="Login" >
			</form>
			<form action = "/createAcc" method="post"><input type="submit" value="Create Account"></form>
			<form action ="/catPics" method="post"><input type = submit value = "Pictures of Keiths Cats"></form>
	</div>
	<p>#{test}</p>
	</body>	
</html>
