<html>
	</head>
		<title>Keiths Website</title>
		<style>
		include styles/style.css
		</style>
	<script>
	</script>	
	</head>
	<body>
	<h1>Welcome to Keith's Website</h1>
	<div class = "loginPage">
		<p>Please Login</p>
		<form method="post">
			<p>Username:<br></p>
			<input type = "text" name = "username"><br>
			<p>Password:<br></p>
			<input type="password" name="password"><br>
			<input type="submit" value="Login" >
			<input type="submit" value="Create Account">
		</form>
	</div>
	</body>	
</html>
