<!DOCTYPE html>
<html>
	
	<head>
		<title>Keiths Website</title>
	style 
		include style.css
		</head>
<body>	
	<h1> Welcome To Keiths Website </h1>
		h1 Can thanos Make space engineers run good? the world will never know 
	<form>
		<div class= "1"><p class = "username">Username: </p></div>
		<div class= "2"><input type="text" class = "utext" id = "u1"></input></div>
		<p class = "password" >Password: </p>
		<input type="text" class = "upwrd" id = "p1"></input>
		<button type = "button" class = "submit" id = "b1">Login</button>

	</form>
<a href='//192.168.1.239/test.pug'>Test</a>
<a href="/test.pug">Link</a>
</body>
</html>


