html{
	background-color:#ccccff;
}

h1{
	background-color:#99ccff;
	color:white;
	text-align:center;
	padding-top:10%;
	padding-bottom:10%;
}
p.username{

	
	
}
input.utext{
	

}	
	

p.password{
	


}
input.upwrd{



}
button.submit{



	
}
form {

	margin-left:30%;
}
